.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
}

.row {
    background-color: white;
    display: flex;
    flex: 1;
    outline: solid black 1px;
    }

.collumn {
    background-color: white;
    display: flex;
    flex: 1;
    outline: solid black 1px;
}

#btn {
    width: 100px;
    height: 20px;
}
